name: CI - Preview Pulumi - PR Main

on:
  pull_request:
    branches:
      - main

jobs:
  preview-ci-pulumi:
    name: widget-server run-ci ECR
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        id: checkout

      - name: Configure node
        id: configure-node
        uses: actions/setup-node@v4
        with:
          node-version: 22.15

      - name: Install pnpm
        id: install-pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Install dependencies
        id: install-dependencies
        run: pnpm install --frozen-lockfile

      - name: Configure AWS credentials
        id: configure-aws-credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Preview pulumi
        id: run-pulumi
        uses: pulumi/actions@v6
        with:
          command: preview
          stack-name: rafaelvictor01/ftr-pos-360-aws-pulumi/dev
          cloud-url: s3://ftr-pos-fullstack-360-upload-widget-server-pulumi-bucket
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ vars.AWS_REGION }}
